<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.social_media_app.mapper.LikeMapper">
    <select id="findById" resultType="com.example.social_media_app.entity.Likes">
        SELECT * FROM public."Likes" WHERE like_id = #{like_id}
    </select>

    <insert id="insert">
        INSERT INTO public."Likes"
        (user_id, post_id)
        VALUES
        (#{user_id}, #{post_id})
    </insert>

    <delete id="delete">
        delete from public."Likes" where like_id = #{like_id}
    </delete>

</mapper>